#location-map-view, #location-map-view > div {
  height: 300px;
}

.feature-preview {
  display: none;
}

.feature-preview, .feature-preview > div {
  height: 300px;
}

.nav-tabs>li>button {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs>li.active>button {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
