<div id="content" class="container">
  {{outlet}}
</div>
<footer class="container">
  <hr>
  <address>Site maintained by <a href="http://sensorweb.geomatics.ucalgary.ca/">GeoSensorWeb Lab</a>, University of Calgary, Canada. Powered with <a href="http://ogc-iot.github.io/ogc-iot-api/">SensorThings API</a>.
  </address>
</footer>
