{{outlet}}

<div class="row">
  <div class="col-md-12">
    <h1>{{ description }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Details</h3>
    <div id="thing-properties"></div>
  </div>
  <div class="col-md-4">
    <h3>Location Info</h3>
    <div id="location-properties"></div>
  </div>
  <div class="col-md-4">
    <h3>Location</h3>
    <div id="location-map-view"></div>
  </div>
</div>
<div id="datastreams"></div>
